.main {
    display: flex;
    flex-direction: column;
    width: 1360px;    
    margin: 2rem auto;

    @media (max-width: 1400px) {
        width: 100%;
        padding: 0 20px;
    }
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @media (max-width: 1400px) {            
        padding: 0 20px;
    }

    &Title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 0.75rem;
    }

    &Card {
        display: flex;
        gap: 1rem;
        height: fit-content;
        padding: 10px 20px;
        background: linear-gradient(to right top, #ff4b2c, #ff416b);
        color: #f2f2f2;
        border-radius: 20px;

        &Text {
            margin: auto 0;
        }
    }

    &Wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 60%;

        @media (max-width: 1020px) {
            width: 100%;   
        }
    }

    &Achievements {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 1rem;

        &Wrapper {
            display: flex;
            flex-direction: column;
            background: #f2f2f2;
            color: #000;
            border-radius: 20px;
            padding: 2rem;
            font-weight: 400;
        }

        &Subs {
            background: #f2f2f2;
            color: #000;
            border-radius: 20px;
            padding: 10px 20px;
            
            &Btn {
                padding: 5px 10px;
                margin: 0 10px;
                background: #f2f1f0;
                color: #ff416b;
                font-weight: 700;
                outline: 2px solid #ff416b;
                border-radius: 10px;
            }
        }
        
        &Title {
            font-weight: 400;
            font-size: 20px;
            color: #929292;
        }

        &Item {
            display: flex;
            align-items: center;
            padding: 0.75rem 0;
            border-top: 1px solid rgb(207, 207, 207);

            &:first-of-type {
                border-top: none;
            }

            & .icon {
                color: #929292; 
                margin-right: 16px;
            }
        }
    }

    &Events {
        &Partic {
            background: #f2f2f2;
            color: #000;
            border-radius: 20px;
            padding: 10px 20px;
        }
        
        &Item {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: 0.75rem 0;
            border-top: 1px solid rgb(207, 207, 207);
        
            &:first-of-type {
                border-top: none;
            }
        
            & .icon {
                color: #929292; 
                margin-right: 16px;
            }

            &Header {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
        }

        &Title {
            font-weight: 500;
            font-size: 20px;
        }
    }
}