.main {
    width: 1360px;
    margin: 2rem auto;
    display: flex;    
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 1420px) {
        width: 100%;
        padding: 1rem;
    }
}

.content {
    flex-grow: 1;
    width: 100%;

    &Header {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 1.5rem;

        @media (max-width: 570px) {
            display: none;
        }

        &Button {
            display: block;
            width: 20px;
            height: 20px;

            & > svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    &.row .cardList {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cardList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 16px;

    @media (max-width: 1370px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 950px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 570px) {
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
}

.cardItem {
    position: relative;
    box-shadow: inset 0 0 0 1px #dadcde;
    padding: 15px;
    width: 100%;
    border-radius: 12px;

    &:hover {
        box-shadow: 0 2px 8px #bfbfbf;
        border-color: transparent;
    }
}

.cardSelected {
    position: absolute;
    right: 15px;
    top: 15px;
}

.cardTitle {
    width: calc(100% - 32px);
    text-overflow: ellipsis;
}