.button  {
    width: calc((100% - 1rem) / 2);        
    border-radius: 20px;
    border: 2px solid #ff4b2b;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin-top: 1rem;
    width: 100%;
    color: #ff4b2b;

    &:active {
        transform: scale(0.95);
        transition: 0.1s;
    }     
    
    &Preset {
        border: 2px solid #ff4b2b;
        background-color: #ff4b2b;
        color: #fff;
    }
}