.header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0 black;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    padding: 10px 1rem;
    color: #fff;

    &Wrapper {
        width: 1360px;
    }

    &Link {
        display: flex;
        gap: 0.5rem;
    }

    &Logo {
        width: 45px;
        height: 45px;

        & > img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &Button {
        width: 24px;
        height: 24px;
    }

    &Avatar > button {
        margin-left: 0;
    }
}
